.carrossel{
  width: 100%;
  position: relative;
}

.fotos{
  width: 100%;
  height: auto;
  display: block;
}

/* BOTÕES */
.btn-carrossel{
  position:absolute;
  top:50%;
  transform:translateY(-50%);

  width:45px;
  height:45px;

  border:none;
  border-radius:50%;

  background:rgba(255,255,255,0.8);
  color:#5e6b5e;

  font-size:22px;
  font-weight:bold;

  cursor:pointer;

  transition:.3s;
}

.btn-carrossel:hover{
  background:#d98fa3;
  color:white;
}

.btn-carrossel.left{
  left:20px;
}

.btn-carrossel.right{
  right:20px;
}