.carrossel{
  width: 100vw;
  position: relative;
  margin-left: calc(50% - 50vw);
}

.fotos{
  width: 100%;
  height: auto;
  display: block;
}

#ir,
#voltar{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 45px;
  height: 45px;

  border: none;
  border-radius: 50%;

  background: rgba(255,255,255,.8);

  cursor: pointer;

  font-size: 22px;
  font-weight: bold;

  z-index: 10;
}

#voltar{
  left: 20px;
}

#ir{
  right: 20px;
}

#ir:hover,
#voltar:hover{
  background: #d98fa3;
  color: white;
}