.top-bar{
  background:#5e6b5e;
  color:white;
  height:40px;

  display:flex;
  align-items:center;

  padding:0 8%;
  font-size:14px;
}

.header{
  background:white;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:25px 8%;

  border-bottom:1px solid #eee;
}

.logo{
  width:170px;
}

.menu{
  display:flex;
  gap:55px;
}

.menu a{
  text-decoration:none;
  color:#5e6b5e;
  font-weight:600;
  transition:.3s;
  position: relative;
}


.menu a:hover{
  color:#d98fa3;
}

.menu a::after{
  content:"";

  position:absolute;

  width:0;
  height:2px;

  left:0;
  bottom:-5px;

  background:#d98fa3;

  transition:.3s;
}

.menu a:hover::after{
  width:100%;
}

.icon-user{
  width:150px;
  cursor:pointer;
}

.icon-compra{
  width:60px;
  cursor:pointer;
}
@media(max-width:900px){

  .header{
    flex-direction:column;
    gap:20px;
  }

  .menu{
    flex-wrap:wrap;
    justify-content:center;
  }
}
.header-icons{
  display:flex;
  align-items:center;
  gap:15px;
}

.carrinho-container{
  position:relative;
}

.badge{
  position:absolute;

  top:-5px;
  right:-5px;

  width:20px;
  height:20px;

  border-radius:50%;

  background:#d98fa3;
  color:white;

  font-size:12px;
  font-weight:bold;

  display:flex;
  align-items:center;
  justify-content:center;
}