header{
  background: white;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo{
  width: 150px;
  cursor: pointer;
}

.bemvindo{
  color: #5e6b5e;
  font-weight: bold;
}

.login{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.btn-menu{
  background: none;
  border: none;
  font-size: 28px;
  color: #d98fa3;
  cursor: pointer;
}

.links-menu{
  position: absolute;
  top: 80px;
  left: 30px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  background: white;
  padding: 20px;

  border-radius: 15px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.links-menu button{
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;

  color: #555;
  font-size: 16px;
}

.links-menu button:hover{
  color: #d98fa3;
}

.menu-perfil{
  position: absolute;
  top: 80px;
  right: 30px;

  background: white;
  padding: 20px;

  border-radius: 20px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.15);

  min-width: 220px;
}

.perfil-container{
  text-align: center;
}

.avatar-img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.perfil-titulo{
  margin: 15px 0;
  color: #5e6b5e;
}

.btn-criar-conta{
  background: #d98fa3;
  color: white;

  border: none;
  border-radius: 20px;

  padding: 10px 20px;

  cursor: pointer;
}

.btn-criar-conta:hover{
  opacity: 0.9;
}