.footer{
  background:#5e6b5e;
  color:white;

  text-align:center;

  padding:50px 20px;
}

.redes{
  margin:20px 0;

  display:flex;
  justify-content:center;
  gap:25px;
}

.redes a{
  color:white;
}

.redes a:hover{
  color:#d98fa3;
}