.footer{
  background:#5e6b5e;

  text-align:center;

  padding:50px 20px;
}

.footer h2{
  color:#ffffff;
  margin-bottom:15px;
}

.footer p{
  color:#ffffff;
  margin-bottom:10px;
}

.footer span{
  color:#ffffff;
  font-size:14px;
}