.main_pag_inicial {
  background: #faf6f1;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 8%;
  gap: 50px;
}

.hero-text {
  width: 45%;
}

.hero-text span {
  color: #d98fa3;
  font-weight: 600;
}

.hero-text h1 {
  font-size: 75px;
  color: #5e6b5e;
  line-height: 1;
  margin: 20px 0;
}

.hero-text p {
  font-size: 22px;
  color: #666;
  margin-bottom: 30px;
}

.hero-text button {
  background: #d98fa3;
  color: white;
  border: none;
  border-radius: 35px;
  padding: 16px 35px;
  cursor: pointer;
}

.Carrossel-image img {
  width: 70%;
}

.hero-image img {
  width: 100%;
  border-radius: 25px;
}

.categorias {
  padding: 80px 8%;
  text-align: center;
}

.subtitulo {
  color: #d98fa3;
  font-weight: bold;
}

.categorias h2 {
  color: #5e6b5e;
  font-size: 50px;
  margin-bottom: 50px;
}

.categoria-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.categoria-card {
  background: white;
  padding: 40px 20px;
  border-radius: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}


.sobre {
  padding: 80px 8%;
}

.sobre-conteudo {
  background: #5e6b5e;
  color: white;
  padding: 60px;
  border-radius: 30px;
}

.sobre-conteudo h2 {
  font-size: 50px;
  margin: 20px 0;
}

.sobre-conteudo span {
  display: block;
  max-width: 600px;
  margin-bottom: 30px;
}

.sobre-conteudo button {
  background: #d98fa3;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  cursor: pointer;
}

.beneficios {
  background: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 40px 8%;
  text-align: center;
  color: #5e6b5e;
}

.mais-vendidos {
  padding: 80px 8%;
}

.mais-vendidos h2 {
  text-align: center;
  color: #5e6b5e;
  margin-bottom: 40px;
}

.produtos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  padding: 0 20px;
  justify-items: center;
}

.card-produto {
   margin-top: 10px;
  background: #fff;
  border-radius: 14px;
  padding: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: 0.25s;
  width: 100%;
  max-width: 250px;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-produto h3 {
  font-size: 18px;
  color: #5e6b5e;
  margin-bottom: 6px;
}

.card-produto p {
  margin: 2px 0;
}

.descricao {
  font-size: 13px;
  color: #777;
  margin-bottom: 8px;
}

.preco {
  font-size: 17px;
  font-weight: bold;
  color: #d98fa3;
  margin: 8px 0;
}

.estoque {
  font-size: 12px;
  color: #5e6b5e;
}

.btn-ver {
  margin-top: 10px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background: #5e6b5e;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.btn-ver:hover {
  background: #d98fa3;
}

@media (max-width: 900px) {
  .hero {
    flex-direction: column;
  }

  .hero-text,
  .hero-image {
    width: 100%;
  }

  .hero-text h1 {
    font-size: 50px;
  }

  .categoria-grid {
    grid-template-columns: 1fr;
  }

  .beneficios {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}