main{
  background:#faf6f1;
}

/* CATEGORIAS */
.categorias{
  padding:80px 8%;
  text-align:center;
}

.categoria-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:25px;
}

/* PRODUTOS */
.produtos{
  padding:60px 8%;
  text-align:center;
}

.produtos h2{
  color:#5e6b5e;
  margin-bottom:30px;
}

.produtos-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
}

.produto-card{
  background:white;
  padding:20px;
  border-radius:15px;
  box-shadow:0 4px 12px rgba(0,0,0,.08);
  transition:.3s;
}

.produto-card:hover{
  transform:translateY(-5px);
}

/* SOBRE */
.sobre{
  padding:80px 8%;
}

.sobre-conteudo{
  background:#5e6b5e;
  color:white;
  padding:60px;
  border-radius:30px;
}

/* BENEFÍCIOS */
.beneficios{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
  padding:40px 8%;
  text-align:center;
  color:#5e6b5e;
}