main{
  background:#faf6f1;
}

/* CATEGORIAS */
.categorias{
  padding:80px 8%;
  text-align:center;
}

.categoria-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:25px;
}

/* PRODUTOS */
.produtos{
  padding:60px 8%;
  text-align:center;
}

.produtos h2{
  color:#5e6b5e;
  margin-bottom:30px;
}

.produtos-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
}

.produto-card{
  background:white;
  padding:20px;
  border-radius:15px;
  box-shadow:0 4px 12px rgba(0,0,0,.08);
  transition:.3s;
}

.produto-card:hover{
  transform:translateY(-5px);
}

/* SOBRE */
.sobre{
  padding: 80px 8%;
}

.sobre-conteudo{
<<<<<<< Updated upstream
  background:#5e6b5e;
  color:white;
  padding:60px;
  border-radius:30px;
=======
  background: #667362;
  color: white;

  border-radius: 35px;

  padding: 60px;

  max-width: 1100px;
  margin: 0 auto;
}

.sobre-conteudo p{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.sobre-conteudo h2{
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: 25px;
}

.sobre-conteudo span{
  display: block;

  font-size: 22px;
  max-width: 700px;

  margin-bottom: 35px;
}

.sobre-conteudo button{
  background: #d98fa3;
  color: white;

  border: none;
  border-radius: 30px;

  padding: 15px 30px;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;

  transition: .3s;
}

.sobre-conteudo button:hover{
  background: #c77a90;
  transform: translateY(-3px);
>>>>>>> Stashed changes
}

/* BENEFÍCIOS */
.beneficios{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
  padding:40px 8%;
  text-align:center;
  color:#5e6b5e;
}