.lista-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}
.card-produto{
  background:#fff;
  border-radius:14px;
  padding:15px;
  box-shadow:0 6px 20px rgba(0,0,0,.08);
  cursor:pointer;
  transition:.25s;
  width:220px;
  min-height:260px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.card-produto:hover{
  transform:translateY(-6px);
  box-shadow:0 10px 25px rgba(0,0,0,.12);
}

.card-produto h3{
  font-size:18px;
  color:#5e6b5e;
  margin-bottom:6px;
}

.card-produto p{
  margin:2px 0;
}

.descricao{
  font-size:13px;
  color:#777;
  margin-bottom:8px;
}

.preco{
  font-size:17px;
  font-weight:bold;
  color:#d98fa3;
  margin:8px 0;
}

.estoque{
  font-size:12px;
  color:#5e6b5e;
}

.btn-ver{
  margin-top:10px;
  padding:8px;
  border:none;
  border-radius:8px;
  background:#5e6b5e;
  color:#fff;
  cursor:pointer;
  transition:.2s;
}

.btn-ver:hover{
  background:#d98fa3;
}