.top-bar{
  background:#5e6b5e;
  color:#fff;
  height:40px;
  display:flex;
  align-items:center;
  padding:0 8%;
  font-size:14px;
}

.header{
  background:#fff;
  top:0;
  z-index:1000;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:25px 8%;
  border-bottom:1px solid #eee;
}

.logo{width:170px;}

.menu{display:flex;gap:55px;}

.menu a{
  text-decoration:none;
  color:#5e6b5e;
  font-weight:600;
  transition:.3s;
  position:relative;
}

.menu a:hover{color:#d98fa3;}

.menu a::after{
  content:"";
  position:absolute;
  width:0;
  height:2px;
  left:0;
  bottom:-5px;
  background:#d98fa3;
  transition:.3s;
}

.menu a:hover::after{width:100%;}

.header-icons{display:flex;align-items:center;gap:15px;}

.icon-user{width:150px;cursor:pointer;}
.icon-compra{width:70px;cursor:pointer;}

.carrinho-container{position:relative;}

.badge{
  position:absolute;
  top:-5px;
  right:-5px;
  width:20px;
  height:20px;
  border-radius:50%;
  background:#d98fa3;
  color:#fff;
  font-size:12px;
  font-weight:bold;
  display:flex;
  align-items:center;
  justify-content:center;
}

.conta-container{position:relative;display:flex;align-items:center;}

.popup-conta{
  position:absolute;
  top:70px;
  right:0;
  width:160px;
  background:#fff;
  border-radius:12px;
  box-shadow:0 10px 25px rgba(0,0,0,.12);
  padding:6px;
  z-index:2000;
  animation:fade .15s ease-in-out;
}

@keyframes fade{
  from{opacity:0;transform:translateY(-5px);}
  to{opacity:1;transform:translateY(0);}
}

.popup-conta button{
  width:100%;
  background:transparent;
  border:none;
  padding:10px;
  cursor:pointer;
  border-radius:10px;
  font-weight:600;
  color:#5e6b5e;
  transition:.2s;
}

.popup-conta button:hover{
  background:#f5f5f5;
  color:#d98fa3;
}

@media(max-width:900px){
  .header{flex-direction:column;gap:20px;}
  .menu{flex-wrap:wrap;justify-content:center;}
}