/* ChatBot.css */

.chat-button{
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #d98fa3;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  z-index: 999;
}

.chat-box{
  position: fixed;
  bottom: 110px;
  right: 30px;
  width: 350px;
  height: 500px;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(0,0,0,0.15);
  z-index: 999;
}

.chat-header{
  background: #5e6b5e;
  color: white;
  padding: 20px;
  font-weight: bold;
}

.chat-messages{
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-message{
  background: #d98fa3;
  color: white;
  padding: 12px;
  border-radius: 15px;
  align-self: flex-end;
  max-width: 80%;
}

.bot-message{
  background: #f3f3f3;
  padding: 12px;
  border-radius: 15px;
  max-width: 80%;
}

.chat-input{
  display: flex;
  padding: 15px;
  gap: 10px;
  border-top: 1px solid #eee;
}

.chat-input input{
  flex: 1;
  padding: 12px;
  border-radius: 15px;
  border: 1px solid #ccc;
  outline: none;
}

.chat-input button{
  padding: 12px 18px;
  border: none;
  border-radius: 15px;
  background: #d98fa3;
  color: white;
  cursor: pointer;
}